body{
	background-image: url('../Images/bk.png');
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	
	font-size: 16px;
	}


h1{
	font-family: 'Georgia', "Times", "Times New Roman", "serif";
	font-size: 1.75rem;

}

h2{
	color: #4aaaa5;	
	font-size: 1rem
}

h6{
	font-size:0.65rem;
	font-weight: 100;
}


.log1, .log2, .log3{
	width: 33%;
}

.logo{
	float:left;
	text-align: center;
	width:35px;
	margin:3%;

}

 .myname{
	background-color: #4aaaa5  !important; 
	color:#ffffff  !important; 
	margin-left: 8%  !important;  
	margin-top:0px  !important; 
	width:100%  !important; 
	height:auto  !important;
	text-align: center;
	margin-bottom: 0;
	
}



.me{
	border-bottom: 2px dotted #cccccc;
	padding-bottom: 10px;
	color: #4aaaa5;
}

.navig, .right{
	margin-right: 5%;


	
}

.right{
	float:right;
}

.charac{
	background-color: #4aaaa5;
	text-align: center;
	position:absolute;
	bottom:4%;
	padding: 5px;
	color:#ffffff;
	right:2%;
	left:2%;
	opacity: 0.8;
	margin-right: 0;

}

.box{
	position:relative !important;
	margin-bottom: 5%;
	padding-right: 0;
	padding-left:0;
}

.bottom{
	margin-top: 50px;
	clear:both;

}
.footer{
	background-color: #738C81;
	padding:6px;
	text-align: center;
	color:#cccccc;
}

label{
	margin-top: 2%;
}

img{
	width:100%;
	padding:2%;

}


@media only screen and (min-width:769px) and (max-width: 980px){

 	.left{
 	width:60%;
 	margin-left:1%;
 	display: inline-block;
 }
 	.right{
 		width:30%;
 		float:right;

 	}

 	.box{
 		width:100%;
 		height:auto;

 	}
 	img{
 		width:100%;
 	}

 	
}


@media only screen and (min-width:641px) and (max-width: 768px){

	.right{
		width:100%;
		margin:0;
	}

	.box{
 		width:49%;
 		height:auto;
 		display:inline-block;

 	}
 	img{
 		width:100%;
 	}

	
}

@media only screen and (max-width: 640px){


	.right{
		width:100%;
		margin:0;
	}
	
	

	.myname{
		width:100% !important;
		text-align: center !important;
		margin:0 !important;
		padding: 5%,0 !important;
	}


	li{
	display:inline-block !important;
	width:28%;
	margin-left: 4%;
}

	.navig{
		width:100% !important;
		text-align: center;
	}


	.box{
 		width:100%;
 		height:auto;

 	}
 	img{
 		width:100%;
 	}
	
	.logo{
		width:15%;
		height:auto;
	}

}







